.sportsCart{
   margin:30px;
   width:330px;
   height:340px;
   margin-left: 10px;
   margin-bottom: -30px;
}
.card-img{
   width:160px;
   height:150px;
   margin-top:18px;
   margin-left: 32%;
   margin-bottom: -28px;
}
.cart-image{
   width: 120px;
}
.card-text{
   text-align:center;
}